In [1]:
# The convention is to import pandas shortcut as pd
import pandas as pd
data = pd.read_csv('2018CrimeStatisticsByCategoryOfCrime.csv')

In [2]:
data.iloc[97:101]

,Unnamed: 0,Unnamed: 1,REPORTED CASES,Unnamed: 3,Unnamed: 4,Unnamed: 5,PERFOMANCE,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
97,NaN,TERRORISM,-,-,-,-,-,-,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,80,Terrorism,16,13,-,3,8,-,-,-,...,-,-,-,-,12,-,-,-,-,-
99,81,"Death By CBRN(Chemical,Nuclear Wpns)",-,-,-,-,-,-,-,-,...,-,-,-,-,12,-,-,-,-,-
100,NaN,Sub Total(Terrorism),16,13,-,3,8,-,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN