In [1]:
# The convention is to import pandas shortcut as pd
import pandas as pd
data = pd.read_csv('2018CrimeStatisticsByCategoryOfCrime.csv')

In [2]:
data.iloc[32:42]

,Unnamed: 0,Unnamed: 1,REPORTED CASES,Unnamed: 3,Unnamed: 4,Unnamed: 5,PERFOMANCE,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
32,NaN,(b) Child Related Offences,-,-,-,-,-,-,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,25,Child Neglect,"6,757","2,499","3,865",393,877,120,11,48,...,1,34,28,"640,000",NaN,"4,755",NaN,"4,206",-,-
34,26,Child Desertion,"2,299",752,"1,430",117,194,48,1,14,...,-,5,4,-,NaN,"1,585",NaN,"1,249",-,-
35,27,Child Stealing,245,97,95,53,77,19,1,4,...,-,2,-,-,NaN,108,NaN,141,-,-
36,28,Child Trafficking,84,33,25,26,39,3,-,-,...,-,-,-,-,NaN,29,NaN,67,-,-
37,29,Child Abduction/Kidnap,612,265,248,99,180,17,2,9,...,-,6,1,"100,000",NaN,214,NaN,461,-,-
38,31,Child Abuse/Torture,"1,449",445,926,78,243,28,-,4,...,-,6,11,"3,000,000",NaN,931,NaN,703,-,-
39,32,Infanticide,51,13,21,17,23,4,-,3,...,-,-,-,-,NaN,34,NaN,20,-,-
40,33,Abortion,92,42,39,11,16,4,1,1,...,-,1,1,"300,000",NaN,19,NaN,75,-,-
41,NaN,Sub Total(Child Related),"11,589","4,146","6,649",794,"1,649",243,16,83,...,1,54,45,"4,040,000",-,"7,675",-,"6,922",-,-